
header {
  background-image: url("../imgs/polygonal19.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.seccion-1{
  display: flex;
  justify-content: flex-start;
  height: 348px;
  background-color: rgb(13, 117, 13)
}

.boxes{
  width: 50%;
  align-content: center;
  font-size: 19px;
  margin: 26px;
  text-align: left;
  color: #ffffff;
}

.imagen-1{
  display: block;
  margin: 0 auto; 
  width: 199px;
  height: 237px;
}


.seccion-2{
  display: flex;
  justify-content: flex-start;
  height: 600px;
  background-color: rgb(31, 92, 31)
}

.boxes-2{
  width: 50%;
  align-content: center;
  font-size: 19px;
  margin: 26px;
  text-align: left;
  color: #ffffff;
}

footer{
  text-align: center;
  height: 102px;
  background-color: #1E1A13;
  color: #ffffff;
}

.imagen-f{
  display: block;
  margin: 0 auto; 
  width: 199px;
  height: 80px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  text-align: left;
}

.imagen-p{
  display: block;
  margin: 0 auto; 
  width: 199px;
  height: 137px;
}